.AppModalBackdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  background: rgba(var(--canvas-color-integers), 0.7);

  backdrop-filter: blur(1.75px);
}
